/.classpath
/.project
/target
.idea
.log
*.log
*.zip
*.iml
*.class
*.jar
*.war
*.ear
*.tmp
*.bak
*.MF
*.swp
*~.nib
classes/
.svn
.classes
.metadata
/*/target
/logs
/disconf
/*/disconf
.settings/**
tartget/**

.catalina.home_IS_UNDEFINED/
.settings/
.externalToolBuilders/

.classpath
.project